.home-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "header"
        "content-container";
}

.home-container header {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-area: header;
}

.home-container .content-container {
    grid-area: content-container;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}