.home-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "header"
        "content-container";
    grid-template-rows: 120px 1fr;
}

.home-container header {
    grid-area: header;
}

.home-container .content-container {
    grid-area: content-container;
    display: flex;
    flex-direction: column;
    align-items: center;

    .filters-container {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 20px;

        label {
            display: none;
        }

        .search-container {
            position: relative;

            input {
                padding-left: 35px;
            }

            img {
                height: 18px;
                width: 18px;
                position: absolute;
                align-self: center;
                left: 10px;
            }
        }

        h2 {
            font-size: 20px;
            color: #05846b;
            font-weight: bold;
            cursor: pointer;
        }
    }
}