.home-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "header"
        "content-container";
}

.home-container header {
    grid-area: header;
}

.home-container .content-container {
    grid-area: content-container;
}